{% extends 'base.html' %}
{% block content %} 
<br>


<div class="container my-2 shadow-lg py-4" >
        <h2 class="text-center alert alert-info">Add new Employee</h2>
        
    <form method="post" action="/add_emp">
        {% csrf_token %}
          <input type="text" class="form-control" id="Name" name="Name"  value="{{ Name }}" required placeholder="First Name"><br>
          <input type="text" class="form-control" id="last_name" name="last_name"  value="{{ last_name }}" required placeholder="Last Name"><br>
          <input type="text" class="form-control" id="city" name="city"  value="{{ city }}" required placeholder="Current City"><br>
          <input type="text" class="form-control" id="Title" name="Title"  value="{{ Title }}" required placeholder="Designated Job"><br>
          <input type="text" class="form-control" id="emailid" name="emailid"  value="{{ emailid }}" required placeholder="Email ID"><br>
          <input type="text" class="form-control" id="salary" name="salary"  value="{{ salary }}" required placeholder="Salary"><br>
          
          
        <button type="submit" href="{% url 'index' %}" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" style="text-align: end;" href="{% url 'index' %}" role="button">back</a>
      </form>
    </div>



    

    {% endblock %}